* {
	font-family: 'Oswald';
}

#title {
	word-spacing: 5px;
	text-align: center;
}

#top {
	border-bottom: solid;
}

.container {
	margin-top: 50px;
}

#instafeed {
	display: flex;
	flex-wrap: wrap;
}

img {
	margin: 30px;
}

p {
	text-align: center;
}

a {
	color: black;
	font-size: 10px;
}